body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
}

#title, h2, h3 {
  text-align: center;
  background-color: #1f1b24;
  color: #ffffff;
  font-weight: bold;
  display: absolute;
  width: 100%;
  margin-bottom: 40px;
}

.recipe {
  list-style: none;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

#content {
  text-align: center;
  margin: 50px;
}

ul, li {
  padding-left: 0px;
  list-style-position: inside;
  color: white;
}

a {
  color: white;
}
a:hover {
  color: green;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
  
}

p {
  color: white;
}

ul, li, ol {
  text-align: left;
  padding-left:0;

}

ul {
  padding-left:0;
}